body{
  font-family: "arial"
}

:root{
  --primary_color:#42A5F5;
}

.tarjeta{
  width: 200px;
  vertical-align: top;
  display: inline-grid;
  background-color: var(--primary_color);
  border-radius: 10px;
  padding: 30px;
  border: 2px solid black;
}

.Hinput{
  margin: 5px 5px;
  width: 100%;
  /**margin: 15px 15px 15px 15px /**Arriba, derecha, abajo, izquierda**/
}

.tarjeta button{
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  margin: 10px 0px;
}
